

body {
    font-family: 'Roboto Condensed';
    background: #f9f6f6;
    height: auto;
}

h1 {
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 900px;
    margin: auto;
}

#landing-text {
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
   
}

#landing-text h2 {
    color: #888;
}

#landing-image {
    background: url(https://source.unsplash.com/De8wMYoSSBc);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
}

.btn {
    padding: 0.5rem 2rem;
    border: 1px solid #110c0c;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    color: #870707;
    transition: background 500ms ease;
}

.btn:hover {
    background: #f4f4f4;
}

#header {
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #fff;
}

#header h2 {
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

.caption {
    padding: 0.8rem;
    text-align: center;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #333;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}

footer p a {
    text-decoration: none;
    color: red;
}




.carousel-img {
    display: flex;
    flex-direction: row;
}

